:host {
  aspect-ratio: 1 / 2;
  --width: 4rem;
  width: var(--width);
  height: calc(.5 * var(--width));
  outline-offset: 1px;

  display: inline-block;
  position: relative;
  contain: content;

  --easing-standard: cubic-bezier(0.4, 0.0, 0.2, 1);
  --easing-decelerate: cubic-bezier(0.0, 0.0, 0.2, 1);
  --easing: var(--easing-standard);
  --duration: .2s;
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  --off-bg-color: #828282; /* --on-bg-color to OKLCH, then chroma 0 and lightness +10% */
  --on-bg-color: hsl(231, 40%, 50%);
  --handle-color: #ebebeb;
  --handle-hover-color: #ddd;
  --handle-active-color: #fff;
  --off-text-color: var(--handle-color);
  --on-text-color: var(--handle-color);
  --focus-color: black;
}

@media (prefers-color-scheme: dark) {
  :host {
    --off-bg-color: #929292; /* --on-bg-color to OKLCH, then chroma 0 and lightness -10% */
    --on-bg-color: hsl(217, 89%, 75%);
    --handle-color: rgb(48, 48, 48);
    --handle-hover-color: #3a3a3a;
    --handle-active-color: #222;
    --off-text-color: var(--handle-color);
    --on-text-color: var(--handle-color);
    --focus-color: white;
  }
}

@media (forced-colors: active) {
  :host {
    -ms-high-contrast-adjust: none;
    forced-color-adjust: none;
    --off-bg-color: ButtonFace;
    --on-bg-color: Highlight;
    --handle-color: ButtonText;
    --handle-hover-color: Highlight;
    --handle-active-color: Highlight;
    --off-text-color: ButtonText;
    --on-text-color: Canvas;
    --focus-color: Highlight;
  }
}

[role="switch"]:focus,
[role="switch"]:focus-visible {
  outline: none;
}

[role="switch"] {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  color: inherit;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  width: 100%;
  height: 100%;
  border-radius: calc(.5 * var(--width));
  background-color: var(--off-bg-color);
  overflow: hidden;

  touch-action: none;
  --ratio: 0;
  --dir: 1;
  --transform-ratio: calc(var(--dir) * var(--ratio));
}

[role="switch"]:dir(rtl) {
  --dir: -1;
}

[role="switch"]::before {
	content: '';
	display: block;
	grid-row: 1 / -1;
  grid-column: 1 / -1;
  width: 100%;
  height: 100%;
	background-color: var(--on-bg-color);
	opacity: calc(1 - var(--ratio));
  transition: opacity var(--duration) var(--easing);
  will-change: opacity;
  z-index: 1;
}

@media (forced-colors: active) {
  [role="switch"] {
    border: 2px solid var(--handle-color);
  }

  [role="switch"][aria-checked="true"] {
    background-color: var(--on-bg-color);
    border-color: var(--on-bg-color);
  }

  [role="switch"][aria-checked="true"] .input-switch-handle {
    fill: var(--on-text-color);
  }

  [role="switch"]:not(:disabled):is(:hover, :active, .active) {
    background-color: var(--off-bg-color);
    border-color: var(--on-bg-color);
    --on-text-color: var(--off-text-color);
  }

  [role="switch"]:not(:disabled):is(:hover, :active, .active) .input-switch-handle {
    fill: var(--off-text-color);
  }

  [role="switch"]::before {
    display: none;
  }
}

.input-switch-hints {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  width: 150%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  place-items: center;
  transition: transform var(--duration) var(--easing);
  z-index: 2;
  transform: translateX(calc(-100% * var(--transform-ratio) / 3));
  will-change: transform;
}

.input-switch-hints>span[data-state] {
  display: grid;
  --side-margin: calc(.1 * var(--width) / 3);
  font-family: var(--font-family);
  font-size: calc(var(--width) / 4);
  font-weight: var(--font-weight, 700);
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.input-switch-hints>span[data-state]>svg {
  width: 100%;
  height: 100%;
}

.input-switch-hints>span[data-state="on"] {
  place-items: start;
}
.input-switch-hints>span[data-state="off"] {
  place-items: end;
}

.input-switch-hints>span>* {
  --padding-left: 0;
  --padding-right: 0;
  padding: 0 var(--padding-right) 0 var(--padding-left);
}

.input-switch-hints>span[data-state="on"]>* {
  --padding-left: calc((1 + var(--dir)) * .5 * var(--side-margin));
  --padding-right: calc((1 - var(--dir)) * .5 * var(--side-margin));
}
.input-switch-hints>span[data-state="off"]>* {
  --padding-left: calc((1 - var(--dir)) * .5 * var(--side-margin));
  --padding-right: calc((1 + var(--dir)) * .5 * var(--side-margin));
}

.input-switch-hints svg.default-icon {
  stroke-width: var(--stroke-width, 3);
}

.input-switch-hints>[data-state="on"] {
  grid-row: 1;
  grid-column: 1;
  color: var(--on-text-color);
  stroke: var(--on-text-color);
}

.input-switch-hints>[data-state="off"] {
  grid-row: 1;
  grid-column: 3;
  color: var(--off-text-color);
  stroke: var(--off-text-color);
}

.input-switch-handle {
	grid-row: 1;
  grid-column: 2;
  width: 100%;
  height: 100%;
  z-index: 3;
  fill: var(--handle-color);
}

[role="switch"]:not(:disabled):hover .input-switch-handle {
  fill: var(--handle-hover-color);
}
[role="switch"]:not(:disabled):is(:active, .active) .input-switch-handle {
  fill: var(--handle-active-color);
}

.focus-dot {
  fill: var(--focus-color);
  display: none;
}

[role="switch"]:focus .focus-dot {
  display: block;
}
[role="switch"]:focus:not(:focus-visible) .focus-dot {
  display: none;
}

[role="switch"][aria-checked="false"] {
  --ratio: 1;
}
[role="switch"][aria-checked="true"] {
  --ratio: 0;
}

@media (prefers-reduced-motion: reduce) {
  :host {
    --duration: 0;
  }
}