:root {
  color-scheme: light;

  --primary: var(--primary-40);
  --on-primary: var(--primary-100);
  --primary-container: var(--primary-90);
  --on-primary-container: var(--primary-10);

  --secondary: var(--secondary-40);
  --on-secondary: var(--secondary-100);
  --secondary-container: var(--secondary-90);
  --on-secondary-container: var(--secondary-10);

  --tertiary: var(--tertiary-40);
  --on-tertiary: var(--tertiary-100);
  --tertiary-container: var(--tertiary-90);
  --on-tertiary-container: var(--tertiary-10);

  --error: var(--error-40);
  --on-error: var(--error-100);
  --error-container: var(--error-90);
  --on-error-container: var(--error-10);

  --success: var(--success-40);
  --on-success: var(--success-100);
  --success-container: var(--success-90);
  --on-success-container: var(--success-10);

  --background: var(--neutral-99);
  --on-bakground: var(--neutral-10);
  --surface: var(--neutral-99);
  --on-surface: var(--neutral-10);

  --surface-variant: var(--neutral-variant-90);
  --on-surface-variant: var(--neutral-variant-30);
  --outline: var(--neutral-variant-50);
  --outline-variant: var(--neutral-variant-80);

  --shadow: var(--neutral-0);
  --inverse-surface: var(--neutral-20);
  --inverse-on-surface: var(--neutral-95);
  --inverse-primary: var(--primary-80);
  --scrim: var(--neutral-0);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --primary: var(--primary-80);
    --on-primary: var(--primary-20);
    --primary-container: var(--primary-30);
    --on-primary-container: var(--primary-90);

    --secondary: var(--secondary-80);
    --on-secondary: var(--secondary-20);
    --secondary-container: var(--secondary-30);
    --on-secondary-container: var(--secondary-90);

    --tertiary: var(--tertiary-80);
    --on-tertiary: var(--tertiary-20);
    --tertiary-container: var(--tertiary-30);
    --on-tertiary-container: var(--tertiary-90);

    --error: var(--error-80);
    --on-error: var(--error-20);
    --error-container: var(--error-30);
    --on-error-container: var(--error-90);

    --success: var(--success-80);
    --on-success: var(--success-20);
    --success-container: var(--success-30);
    --on-success-container: var(--success-90);

    --background: var(--neutral-10);
    --on-bakground: var(--neutral-90);
    --surface: var(--neutral-10);
    --on-surface: var(--neutral-90);

    --surface-variant: var(--neutral-variant-30);
    --on-surface-variant: var(--neutral-variant-80);
    --outline: var(--neutral-variant-60);
    --outline-variant: var(--neutral-variant-30);

    --shadow: var(--neutral-0);
    --inverse-surface: var(--neutral-90);
    --inverse-on-surface: var(--neutral-20);
    --inverse-primary: var(--primary-40);
    --scrim: var(--neutral-0);
  }
}

.primary {
  background-color: rgb(var(--primary));
  color: rgb(var(--on-primary));
}

.primary-container {
  background-color: rgb(var(--primary-container));
  color: rgb(var(--on-primary-container));
}

.secondary {
  background-color: rgb(var(--secondary));
  color: rgb(var(--on-secondary));
}

.secondary-container {
  background-color: rgb(var(--secondary-container));
  color: rgb(var(--on-secondary-container));
}

.tertiary {
  background-color: rgb(var(--tertiary));
  color: rgb(var(--on-tertiary));
}

.tertiary-container {
  background-color: rgb(var(--tertiary-container));
  color: rgb(var(--on-tertiary-container));
}

.background {
  background-color: rgb(var(--background));
  color: rgb(var(--on-background));
}

.surface {
  --surface-tint: var(--primary);
  --state-tint: var(--on-primary);
  --elevation-1-opacity: .05;
  --elevation-2-opacity: .08;
  --elevation-3-opacity: .11;
  --elevation-4-opacity: .12;
  --elevation-5-opacity: .14;
  --elevation-1-shadow: 0 1px 3px rgb(var(--shadow), .12),
                        0 1px 2px rgb(var(--shadow), .24);
  --elevation-2-shadow: 0 3px 6px rgb(var(--shadow), .16),
                        0 3px 6px rgb(var(--shadow), .23);
  --elevation-3-shadow: 0 10px 20px rgb(var(--shadow), .19),
                        0 6px 6px rgb(var(--shadow), .23);
  --elevation-4-shadow: 0 14px 28px rgb(var(--shadow), .25),
                        0 10px 10px rgb(var(--shadow), .22);
  --elevation-5-shadow: 0 19px 38px rgb(var(--shadow), .30),
                        0 15px 12px rgb(var(--shadow), .22);
  --state-hover-opacity: .08;
  --state-focus-opacity: .12;
  --state-active-opacity: .12;
  --state-dragged-opacity: .16;

  background-color: rgb(var(--surface));
  background-image: linear-gradient(to bottom, rgb(var(--state-tint), var(--state-opacity, 0)) 0% 100%),
                    linear-gradient(to bottom, rgb(var(--surface-tint), var(--elevation-opacity, 0)) 0% 100%);
  box-shadow: var(--elevation-shadow, none);
}

.elevation-primary {
  --surface-tint: var(--primary);
  --state-tint: var(--on-primary);
}

.elevation-secondary {
  --surface-tint: var(--secondary);
  --state-tint: var(--on-secondary);
}

.elevation-tertiary {
  --surface-tint: var(--tertiary);
  --state-tint: var(--on-tertiary);
}

.elevation-1 {
  --elevation-opacity: var(--elevation-1-opacity);
}

.elevation-2 {
  --elevation-opacity: var(--elevation-2-opacity);
}

.elevation-3 {
  --elevation-opacity: var(--elevation-3-opacity);
}

.elevation-4 {
  --elevation-opacity: var(--elevation-4-opacity);
}

.elevation-5 {
  --elevation-opacity: var(--elevation-5-opacity);
}

.shadow {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.elevation-1.shadow {
  --elevation-shadow: var(--elevation-1-shadow);
}

.elevation-2.shadow {
  --elevation-shadow: var(--elevation-2-shadow);
}

.elevation-3.shadow {
  --elevation-shadow: var(--elevation-3-shadow);
}

.elevation-4.shadow {
  --elevation-shadow: var(--elevation-4-shadow);
}

.elevation-5.shadow {
  --elevation-shadow: var(--elevation-5-shadow);
}

/* Empêcher le contour bizarre que Chrome ajoute autour d'éléments en focus */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} 
*:focus:not(:focus-visible) {
	outline-style: none;
}



/* Typography */

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('roboto-regular-latin-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('roboto-regular-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('roboto-medium-latin-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('roboto-medium-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.display-large {
  line-height: 4rem;
  font-size: 3.5625rem;
  font-weight: 400;
}

.display-medium {
  line-height: 3.25rem;
  font-size: 2.8125rem;
  font-weight: 400;
}

.display-small {
  line-height: 2.75rem;
  font-size: 2.25rem;
  font-weight: 400;
}

.headline-large {
  line-height: 2.5rem;
  font-size: 2rem;
  font-weight: 400;
}

.headline-medium {
  line-height: 2.25rem;
  font-size: 1.75rem;
  font-weight: 400;
}

.headline-small {
  line-height: 2rem;
  font-size: 1.75rem;
  font-weight: 400;
}

.title-large {
  line-height: 1.75rem;
  font-size: 1.375rem;
  font-weight: 400;
}

.title-medium {
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: .009375rem;
  font-weight: 500;
}

.title-small {
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: .007143rem;
  font-weight: 500;
}

.label-large {
  line-height: 1.25rem;
  font-size: .875rem;
  letter-spacing: .007143rem;
  font-weight: 500;
}

.label-medium {
  line-height: 1rem;
  font-size: .75rem;
  letter-spacing: .04167rem;
  font-weight: 500;
}

.label-small {
  line-height: 1rem;
  font-size: .6875rem;
  letter-spacing: .04545rem;
  font-weight: 500;
}

.body-large {
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: .003125rem;
  font-weight: 400;
}

.body-medium {
  line-height: 1.25rem;
  font-size: .875rem;
  letter-spacing: .001786rem;
  font-weight: 400;
}

.body-small {
  line-height: 1rem;
  font-size: .75rem;
  letter-spacing: .003333rem;
  font-weight: 400;
}