:root,
:root[data-theme="light"] {
  color-scheme: light;
  --bg-color: #eee;
  --sunmoon-color: black;
  --sunray-color: hsl(40, 100%, 10%);
  --example-border-color: #DBDBDB;
  --example-background-color: #F7F7F7;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --bg-color: #111;
    --sunmoon-color: white;
    --sunray-color: lemonchiffon;
    --example-border-color: #242424;
    --example-background-color: #080808;
  }
}

:root[data-theme="dark"] {
  color-scheme: dark;
  --bg-color: #111;
  --sunmoon-color: white;
  --sunray-color: lemonchiffon;
  --example-border-color: #242424;
  --example-background-color: #080808;
}

:root[data-theme="blue"] {
  color-scheme: light;
  --bg-color: #ceebfd;
  --sunmoon-color: darkblue;
  --sunray-color: royalblue;
  --example-border-color: #DBDBDB;
  --example-background-color: #F7F7F7;
}

body {
  background: var(--bg-color);
  color: var(--sunmoon-color);
  color-scheme: inherit;
}

.example {
  overflow: visible;
}