.list-of-examples {
  width: 100%;
  height: 100%;
  max-width: unset;
  flex-grow: 1;
}

.example {
  container-type: size;
}

.example > pre {
  overflow: hidden;
}

.example > .element {
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100cqw;
  resize: both;
  overflow: hidden;
  box-sizing: border-box;
}

artsy-block {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: Canvas;
}

artsy-block[type="rainfall"] {
  --cell-size: 120;
  --fall-duration: 1000;
}

dialog {
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  backdrop-filter: blur(5px);
  background-color: #DBDBDBBF;
  padding: 0;
  border: 2px solid currentColor;
}

dialog::backdrop {
  background: transparent;
}

.settings-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.settings-content p {
  margin: revert;
}

.settings-content > p {
  max-width: 40ch;
  margin: 0;
}

p:has(> #close-settings) {
  align-self: center;
}

body:not([data-type="diamonds"]) fieldset[data-type="diamonds"],
body:not([data-type="bigdots"]) fieldset[data-type="bigdots"],
body:not([data-type="starfield"]) fieldset[data-type="starfield"],
body:not([data-type="labyrinth"]) fieldset[data-type="labyrinth"],
body:not([data-type="rainfall"]) fieldset[data-type="rainfall"]
{
  display: none;
}

@media (prefers-color-scheme: dark) {
  dialog {
    background-color: #242424BF;
  }
}

@media (any-pointer: coarse) {
  button, select {
    min-height: 38px;
    min-width: 38px;
  }
}