:host {
  display: inline-grid;
  position: relative;
  font-family: system-ui;
  font-weight: 600;

  /* --- Customizable properties --- */
  /* Background & text gradient */
  --gradient: linear-gradient(to right, royalblue 0% 100%);
  /* Width of the gradient border */
  --border-width: 2px;
  /* Padding around text */
  --padding: .5em 1em;
  /* Color of text on hover */
  --hover-text-color: black;
  /* Overlay over background on click */
  --active-background-overlay: linear-gradient(to right, rgba(0, 0, 0, .1) 0% 100%);
  /* Transition duration */
  --transition-duration: .1s;
}

:host(:not([text])) {
  opacity: 0;
}

/* Native button functionality */
button {
  grid-row: 1;
  grid-column: 1;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  font: inherit;
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
  border-radius: var(--border-radius);
  outline-offset: 3px;
}

/* Border and text sharing the same gradient */
.border,
.gradient-text,
.hover-bg {
  display: block;
  width: 100%;
  height: 100%;
  background-image: var(--gradient);
  grid-row: 1;
  grid-column: 1;
}

.border {
  mask: var(--mask);
  mask-size: 100% 100%;
  -webkit-mask: var(--mask);
  -webkit-mask-size: 100% 100%;
  z-index: 0;
}

.gradient-text {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: grid;
  place-items: center;
  z-index: 1;
  user-select: none;
}

.hover-bg {
  transition: opacity var(--transition-duration) linear;
  border-radius: var(--border-radius);
  z-index: 2;
}

button:not(:hover):not(:focus):not(:active) > .hover-bg {
  opacity: 0;
}

button:active > .hover-bg {
  background-image: var(--active-background-overlay), var(--gradient);
}

.hover-text {
  display: block;
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 1;
  box-sizing: border-box;

  color: var(--hover-text-color);
  display: grid;
  place-items: center;
  z-index: 3;
  transition: color var(--transition-duration) linear;
}

button:not(:hover):not(:focus):not(:active) > .hover-text {
  --hover-text-color: transparent;
}

button:active > .hover-text {
  transition-duration: 0s;
}

.text {
  white-space: nowrap;
}

.gradient-text > .text {
  padding: var(--padding);
  margin: var(--border-width);
}

.border-width-checker {
  display: block;
  height: 0;
  width: var(--border-width, 0);
  position: absolute;
  pointer-events: none;
}