<button data-label="theme-button">
  <svg viewBox="0 0 120 120">
    <defs>
      <mask id="moon-hole">
        <rect x="0" y="0" width="120" height="120" fill="white"/>
        <circle cx="90" cy="30" r="40" fill="black" transform-origin="120 0"/>
      </mask>
    </defs>

    <g class="sun-rays" transform-origin="50% 50%">
      <g class="ray" width="120" height="120" transform-origin="60 60" style="--n: 1">
        <path d="M 60 10 L 60 24" stroke-linecap="round" stroke-width="10"/>
      </g>
      <g class="ray" width="120" height="120" transform-origin="60 60" style="--n: 3">
        <path d="M 60 10 L 60 24" stroke-linecap="round" stroke-width="10" transform="rotate(90 60 60)"/>
      </g>
      <g class="ray" width="120" height="120" transform-origin="60 60" style="--n: 5">
        <path d="M 60 10 L 60 24" stroke-linecap="round" stroke-width="10" transform="rotate(180 60 60)"/>
      </g>
      <g class="ray" width="120" height="120" transform-origin="60 60" style="--n: 7">
        <path d="M 60 10 L 60 24" stroke-linecap="round" stroke-width="10" transform="rotate(270 60 60)"/>
      </g>
      <g class="ray" width="120" height="120" transform-origin="60 60" style="--n: 2; --m: 1;">
        <path d="M 60 13 L 60 19" stroke-linecap="round" stroke-width="10" transform="rotate(45 60 60)"/>
      </g>
      <g class="ray" width="120" height="120" transform-origin="60 60" style="--n: 4; --m: 1;">
        <path d="M 60 13 L 60 19" stroke-linecap="round" stroke-width="10" transform="rotate(135 60 60)"/>
      </g>
      <g class="ray" width="120" height="120" transform-origin="60 60" style="--n: 6; --m: 1;">
        <path d="M 60 13 L 60 19" stroke-linecap="round" stroke-width="10" transform="rotate(225 60 60)"/>
      </g>
      <g class="ray" width="120" height="120" transform-origin="60 60" style="--n: 8; --m: 1;">
        <path d="M 60 13 L 60 19" stroke-linecap="round" stroke-width="10" transform="rotate(315 60 60)"/>
      </g>
    </g>
    <circle class="sun" cx="60" cy="60" r="50" transform-origin="50% 50%" mask="url(#moon-hole)"/>
  </svg>
</button>

<div class="selector">
  <input type="radio" name="theme" id="theme-auto" value="auto" checked>
  <label for="theme-auto">
    <span class="theme-name" data-string="theme-auto">Auto</span>
    <span class="theme-description" data-string="theme-auto-description">Suit vos paramètres système</span>
  </label>

  <input type="radio" name="theme" id="theme-light" value="light">
  <label for="theme-light" data-string="theme-light">
    <span class="theme-name" data-string="theme-light">Clair</span>
  </label>

  <input type="radio" name="theme" id="theme-dark" value="dark">
  <label for="theme-dark" data-string="theme-dark">
    <span class="theme-name" data-string="theme-dark">Sombre</span>
  </label>
</div>