theme-selector {
  display: grid;
  place-items: center;
  position: relative;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font: inherit;
  line-height: inherit;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;

  display: grid;
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
  fill: var(--sunmoon-color, white);
}

/* Animation */
svg * {
  transition: transform .5s ease,
              opacity .5s ease;
}

.ray {
  transition-delay: calc(.2s + var(--m, 0) * 60ms);
  transition-duration: .3s;
  transform: scale(1);
  opacity: 1;
}

.ray>path {
  stroke: var(--sunray-color, white);
}

#moon-hole>circle {
  transform: translate(40%, -40%);
  transition-delay: 0;
}

.sun {
  transform: scale(.5);
}

svg.dark .sun {
  transform: scale(1);
}

svg.dark .ray {
  opacity: 0;
  transition-delay: calc(var(--n) * 30ms);
  transition-duration: .15s;
  transition-timing-function: ease-in;
  transform: scale(.5);
}

svg.dark #moon-hole>circle {
  transition-delay: .4s;
  transform: translate(0, 0);
}

/* Pop up */

.selector {
  display: none;
  grid-template-columns: auto 1fr;
  position: absolute;
  left: 100%;
  width: max-content;
  max-width: calc(100vw - 1.2rem);
}

.selector.on {
  display: grid;
}

.selector>input {
  grid-column: 1;
  align-self: center;
}

.selector>label {
  grid-column: 2;
  display: grid;
  grid-template-columns: 0 auto;
  grid-template-rows: repeat(auto-fill, 1fr);
}

.selector>label>span {
  grid-column: 2;
}