theme-selector {
  display: grid;
  place-items: center;
  position: relative;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font: inherit;
  line-height: inherit;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;

  display: grid;
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
  fill: var(--sunmoon-color, white);
  --moon-hole-apparition: .5s;
  --moon-hole-disparition: .3s;
}

/* Animation */
svg * {
  transition: transform var(--duration, .5s) ease,
              opacity var(--duration, .5s) ease;
}

.ray {
  transition-delay: calc(var(--moon-hole-disparition) + .2s + var(--m, 0) * 60ms);
  --duration: .3s;
  transform: scale(1);
  opacity: 1;
}

.ray>path {
  stroke: var(--sunray-color, white);
}

#moon-hole>circle {
  transform: translate(40%, -40%);
  --duration: var(--moon-hole-disparition);
}

.sun {
  transform: scale(.5);
  transition-delay: var(--moon-hole-disparition);
}

svg.dark .sun {
  transform: scale(1);
  transition-delay: 0s;
}

svg.dark .ray {
  opacity: 0;
  transition-delay: calc(var(--n) * 30ms);
  --duration: .15s;
  transition-timing-function: ease-in;
  transform: scale(.5);
}

svg.dark #moon-hole>circle {
  transition-delay: .4s;
  --duration: var(--moon-hole-apparition);
  transform: translate(0, 0);
}

/* Pop up */

.selector {
  display: grid;
  opacity: 0;
  pointer-events: none;
  grid-template-columns: auto 1fr;
  position: absolute;
  top: 100%;
  width: max-content;
  max-width: calc(100vw - 1.2rem);
  border: 2px solid var(--sunmoon-color);
  grid-row: 1;
  grid-column: 1;
}

.selector.on {
  display: grid;
  opacity: 1;
  pointer-events: auto;
}

.selector>input {
  grid-column: 1;
  align-self: center;
}

.selector>label {
  grid-column: 2;
  display: grid;
  grid-template-columns: 0 auto;
  grid-template-rows: repeat(auto-fill, 1fr);
}

.selector>label>span {
  grid-column: 2;
}

.selector[data-vertical="bottom"] {
  top: 100%;
}
.selector[data-vertical="top"] {
  top: unset;
  bottom: 100%;
}

.selector[data-horizontal="left"] {
  right: 0;
}
.selector[data-horizontal="right"] {
  left: 0;
}