.intro ul {
	margin: 0px;
}

.list-of-examples {
	width: 100%;
	height: 100%;
	max-width: unset;
	flex-grow: 1;
}

.example {
	container-type: size;
}

.example > .element {
	margin: 0;
	width: 100%;
	height: 100%;
	max-width: 100cqw;
	overflow: hidden;
	box-sizing: border-box;
}

scroll-zoom-block {
	width: 100%;
	height: 100%;
}

.big-content {
	width: 5005px;
	height: 5005px;
	background-image:
		linear-gradient(to bottom, rgb(255, 255, 255, .5) 5px, transparent 5px),
		linear-gradient(to right, rgb(255, 255, 255, .5) 5px, transparent 5px),
		linear-gradient(to bottom right, red, blue);
		background-size: 100px 100px, 100px 100px, 100% 100%;
		box-shadow: inset 0px 0px 0px 5px white;
}

.log {
	width: fit-content;
	max-width: 100%;
	white-space: normal;
}