@keyframes rotate {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}

:host {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(var(--columns), var(--cell-size));
  grid-template-rows: repeat(var(--rows), var(--cell-size));
  --start-row: 1;
  --start-col: 1;
  --base-hue: 260;
  --max-hue-spread: 30;
  --cell-delay: .01s;
}

:host([filter]) {
  filter: url('filter.php#wow') blur(.5px);
}

.cell {
  display: grid;
  place-items: center;
  grid-row: var(--row);
  grid-column: var(--col);
  --diff-row: calc(var(--row) - var(--start-row));
  --diff-col: calc(var(--col) - var(--start-col));
  --diff: calc(var(--row) + var(--col) - 2);
  --hue: calc(var(--base-hue) + var(--hue-spread-coeff) * var(--max-hue-spread));
}

@supports (--diff: max(1, -1)) {
  .cell {
    --diff: calc(
      max(var(--diff-row), -1 * var(--diff-row)) 
      + max(var(--diff-col), -1 * var(--diff-col))
    );
  }
}

.cell::after {
  content: '';
  display: block;
  transition:
    transform .5s ease,
    opacity .5s ease,
    background-color 0s linear,
    border-top 0s linear,
    box-shadow 0s linear;
}

:host([order="from-click"]) > .cell::after {
  transition-delay: calc((var(--diff) * var(--cell-delay)));
}

:host([order="random"]) > .cell::after {
  transition-delay: calc(var(--random-order) * var(--cell-delay));
}

:host([type="borders"]) > .cell::after {
  width: 100%;
  height: 0;
  border-top: 4px var(--border-style) hsl(var(--hue), 100%, 50%);
  opacity: var(--opacity, 1);
  transform-origin: center center;
  transform: 
    translate3D(var(--decalage-x), var(--decalage-y), 0) 
    scale(var(--scale, 1)) 
    rotate(calc(-45deg + var(--rotation) * 90deg));
}

:host([type="labyrinth"]) > .cell::after {
  width: 100%;
  height: 0;
  border-top: 2px solid hsl(var(--hue), 100%, 50%);
  --scale: var(--labyrinth-scale);
  transform-origin: center center;
  transform: 
    scale(var(--scale, 1)) 
    rotate(calc(-45deg + var(--rotation) * 90deg));
}

:host([type="diamonds"]) > .cell::after {
  width: 100%;
  height: 100%;
  background-color: hsl(var(--hue), 100%, 50%);
  opacity: var(--opacity, 1);
  transform-origin: center center;
  transform: 
    translate3D(var(--decalage-x), var(--decalage-y), 0) 
    scale(var(--scale, 1)) 
    rotate(calc(-45deg + var(--rotation) * 90deg));
}

:host([type="dot"]) > .cell::after {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: hsl(var(--hue), 100%, 50%);
  transform-origin: center center;
  transform: 
    scale(max(0.2, var(--scale, 1)));
}

:host([type="dots"]) > .cell::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: hsl(var(--hue), 100%, 50%);
  transform-origin: center center;
  transform: 
    scale(var(--scale, 1));
}

:host([type="squares"]) > .cell::after {
  width: 100%;
  height: calc(var(--height) * 100%);
  box-shadow: 0 0 0 calc(var(--epaisseur) * 1px) hsl(var(--hue), 100%, 50%);
  opacity: var(--opacity, 1);
  transform-origin: center center;
  transform: 
    translate3D(var(--decalage-x), var(--decalage-y), 0) 
    scale(var(--scale, 1)) 
    rotate(calc(var(--rotation) * 1deg));
}

:host([filter]) > .cell::after {
  transform: none;
  background-color: hsl(var(--hue), 80%, 30%);
}

.cell.hidden::after {
  opacity: 0 !important;
}